
body{
    background-color: black;
}
h1 , h2{
    color: rgb(9, 234, 9);  
}
h2{
    margin-left: 25%;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.contenu{
    height: 100vh;
    width: 100%;
    background-color: black;
     display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    padding-top: 0px;
    }
.cont{
    height: 90vh;
    width: 380px;;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
DIV.ccc{
     height: 500px;
    width: 380px;
    margin-bottom: 10PX;
    border-radius: 10px;
}
DIV .un{
    background-image: url(un.webp);
    background-position: center;
    background-size: contain;
}
DIV .deux{
    background-image: url(deux.webp);
       background-position: center;
    background-size: contain;
}
DIV .trois{
    background-image: url(trois.webp);
       background-position: center;
    background-size: contain;
}
a{
    color: aliceblue;
    text-decoration: none;
    font-size: xx-large;
    background-color: green;
    padding: 0PX 10PX;
    border-radius: 10PX;
  
}